{% extends "layout.html" %}

{% block body %}
<main>
    <h1>Imhotep Exchange Rate API</h1>

    {% include 'back.html' %}

    <h2>Version 1.0</h2>
    <p>
        25/10/2024<br>
        Currency Exchange API

        The Currency Exchange API provides real-time foreign exchange rates for a variety of currencies. <br>
        Designed for developers, businesses, and financial institutions, this API allows users to access up-to-<br>
        date exchange rates for a specified base currency, making it easier to integrate currency conversion <br>
        features into applications, websites, or services.<br>
        <br>
        Key features :
        <br>
        • Completely Free: No hidden costs or subscription fees, making it accessible for all users.<br>
        • Real-time Data: Get the latest currency exchange rates updated regularly.<br>
        • Multiple Currencies: Access rates for a wide range of currencies from around the world.<br>
        • Base Currency Flexibility: Specify any currency as the base for conversion, allowing for tailored financial applications.<br>
        • Simple Integration: Easy-to-use endpoints that require minimal setup, making it accessible for developers of all skill levels.<br>
        • Unique API Key: Each user receives a unique API key to manage their access securely.<br>
    </p>
</main>

{% endblock %}
